<launch>

  <arg name="input_indices" default="/object_detection/output/cluster_indices" />
  <arg name="manager" value="/camera/realsense2_camera_manager" />
  <arg name="launch_camera" default="true" />
  <arg name="input_image" default="/camera/color/image_raw" if="$(arg launch_camera)" />
  <arg name="input_cloud" default="/camera/depth/color/points" if="$(arg launch_camera)" />
  <arg name="input_image" default="/camera/rgb/image_raw" unless="$(arg launch_camera)" />
  <arg name="input_cloud" default="/camera/depth/points" unless="$(arg launch_camera)" />
  <arg name="use_color_filter" default="false" />
  <arg name="downsample" default="true" />
  <arg name="gui" default="true" />
  <arg name="device" default="-1" />
  <arg name="model_file" default="apple/original_augmented_best.pt" />

  <arg name="color_width" default="848" />
  <arg name="color_height" default="480" />
  <arg name="color_fps" default="5" />
  <arg name="depth_width" default="848" />
  <arg name="depth_height" default="480" />
  <arg name="depth_fps" default="5" />

  <include if="$(arg launch_camera)"
           file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="align_depth" value="true" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="color_width" value="$(arg color_width)" />
    <arg name="color_height" value="$(arg color_height)" />
    <arg name="color_fps" value="$(arg color_fps)" />
    <arg name="depth_width" value="$(arg depth_width)" />
    <arg name="depth_height" value="$(arg depth_height)" />
    <arg name="depth_fps" value="$(arg depth_fps)" />
    <arg name="ordered_pc" value="true" />
  </include>

  <group if="$(arg use_color_filter)" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps::HSVColorFilterNodelet $(arg manager)"
          output="screen" >
      <remap from="~input" to="$(arg input_image)" />
      <param name="size" value="5" />
    </node>
    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg manager)"
          respawn="true" >
      <remap from="~input" to="$(arg input_image)" />
      <remap from="~input/mask" to="/hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
        queue_size: 5
      </rosparam>
    </node>
    <node name="mask_image_to_indices"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/MaskImageToPointIndices $(arg MANAGER)">
      <remap from="~input" to="/hsv_color_filter/image" />
      <remap from="~output" to="$(arg input_indices)" />
    </node>
  </group>
  <group unless="$(arg use_color_filter)" >
    <include file="$(find jsk_teaching_object)/launch/object_detection.launch" >
      <arg name="launch_usb_cam" value="false" />
      <arg name="gui" value="false" />
      <arg name="input_image" value="$(arg input_image)" />
      <arg name="device" value="$(arg device)" />
      <arg name="model_file" value="$(arg model_file)" />
    </include>
  </group>

  <node name="multi_euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/EuclideanClustering $(arg manager)"
        respawn="true"
        output="screen">
    <remap from="~input/cluster_indices" to="$(arg input_indices)" />
    <remap from="~input" to="$(arg input_cloud)" />
    <rosparam subst_value="true">
      tolerance: 0.02
      min_size: 10
      max_size: 100000
      approximate_sync: true
      downsample_enable: $(arg downsample)
      multi: true
      queue_size: 100
      cluster_filter: 1  <!-- take max size of clustering in each cluster -->
    </rosparam>
  </node>

  <node name="multi_euclidean_cluster_point_indices_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)"
        respawn="true">
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~target" to="/multi_euclidean_clustering/output" />
    <rosparam>
      align_boxes: false
      use_pca: true
      approximate_sync: false
      queue_size: 100
    </rosparam>
  </node>

  <group if="$(arg gui)" >
    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_teaching_object)/launch/config/bounding-box.rviz" >
    </node>
  </group>

</launch>
