<launch>

  <arg name="joint_group_description" value="$(find kxreus)/config/kxrl2l2a6h2m.yaml" />

  <include file="$(find kxr_controller)/launch/kxr_controller.launch" >
    <arg name="joint_group_description" value="$(arg joint_group_description)" />
  </include>

  <include file="$(find kxreus)/launch/eusmodel_server.launch" >
  </include>

  <include file="$(find kxr_cube_solver)/launch/sound_play.launch" >
  </include>

</launch>
