<launch>

  <arg name="image" default="/camera/color/image_raw" doc="The image topic. Should be remapped to the name of the real image topic." />

  <arg name="h_limit_max" default="250" doc="The maximum allowed field value Hue" />
  <arg name="h_limit_min" default="0" doc="The minimum allowed field value Hue" />
  <arg name="s_limit_max" default="255" doc="The maximum allowed field value Saturation" />
  <arg name="s_limit_min" default="150" doc="The minimum allowed field value Saturation" />
  <arg name="v_limit_max" default="255" doc="The maximum allowed field value Value" />
  <arg name="v_limit_min" default="50" doc="The minimum allowed field value Value" />
  <arg name="queue_size" default="3" doc="Specigy queue_size of input image subscribers" />
  <arg name="gui" default="true"/>

  <arg name="MANAGER" default="/camera/realsense2_camera" />

  <group ns="red" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>

  </group>

  <group ns="orange" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>

  </group>

  <group ns="blue" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>

  </group>

  <group ns="yellow" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>

  </group>


  <group ns="green" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>

  </group>

  <group ns="white" >
    <node name="hsv_color_filter"
          pkg="nodelet" type="nodelet"
          args="load opencv_apps/hsv_color_filter $(arg MANAGER)"
          output="screen">
      <remap from="image" to="$(arg image)" />
      <param name="use_camera_info" value="false" />
      <param name="debug_view" value="false" />
      <param name="queue_size" value="$(arg queue_size)" />
      <param name="h_limit_max" value="$(arg h_limit_max)" />
      <param name="h_limit_min" value="$(arg h_limit_min)" />
      <param name="s_limit_max" value="$(arg s_limit_max)" />
      <param name="s_limit_min" value="$(arg s_limit_min)" />
      <param name="v_limit_max" value="$(arg v_limit_max)" />
      <param name="v_limit_min" value="$(arg v_limit_min)" />
    </node>

    <node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ApplyMaskImage $(arg MANAGER)"
          respawn="true" >
      <remap from="~input" to="$(arg image)" />
      <remap from="~input/mask" to="hsv_color_filter/image" />
      <rosparam>
        approximate_sync: false
        clip: false
      </rosparam>
    </node>
  </group>

  <node name="tile_image"
        pkg="kxr_cube_solver" type="tile_image.py"
        output="screen">
    <remap from="~output" to="~output" />
    <rosparam subst_value="true">
      input_topics: [/red/apply_mask_image/output, /orange/apply_mask_image/output, /blue/apply_mask_image/output, /green/apply_mask_image/output, /yellow/apply_mask_image/output, /white/apply_mask_image/output, ]
      shape: [2, 3]
      no_sync: true
      draw_topic_name: true
    </rosparam>
  </node>

  <!-- visualize resutls -->
  <group if="$(arg gui)" >
    <node name="image_view01"
          pkg="image_view" type="image_view">
      <remap from="image" to="tile_image/output" />
    </node>
  </group>

</launch>
