<?xml version="1.0"?>
<robot name="harvest_gripper" xmlns:xi="http://www.w3.org/2001/XInclude">

<!-- color -->
    <material name="green">
        <color rgba="0.0 0.5 0.0 1.0"/>
    </material>

    <material name="orange">
        <color rgba="1.0 0.5 0.0 1.0"/>
    </material>


<!-- links -->
    <link name="gripper_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_base.dae" scale="1 1 1" />
            </geometry>
            <material name="green"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_base.dae" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.237" />
            <origin xyz="0 0 0.1" rpy="0 -0 0"/>
            <inertia ixx="0.001107915" ixy="0.000003098" ixz="-0.000023669" iyy="0.001134454" iyz="-0.000002919" izz="0.000149074"/>
        </inertial>
    </link>


    <link name="finger_0_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.062" />
            <origin xyz="0 0 0.1" rpy="0 -0 0"/>
            <inertia ixx="0.000186071" ixy="0" ixz="0.000022876" iyy="0.000193748" iyz="0" izz="0.000013049"/>
        </inertial>
    </link>


    <link name="finger_120_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.062" />
            <origin xyz="0 0 0.1" rpy="0 -0 0"/>
            <inertia ixx="0.000186071" ixy="0" ixz="0.000022876" iyy="0.000193748" iyz="0" izz="0.000013049"/>
        </inertial>
    </link>


    <link name="finger_240_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://k_arm_descriptions/meshes/HARVEST_GRIPPER_meshes/gripper_finger.dae" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.062" />
            <origin xyz="0 0 0.1" rpy="0 -0 0"/>
            <inertia ixx="0.000186071" ixy="0" ixz="0.000022876" iyy="0.000193748" iyz="0" izz="0.000013049"/>
        </inertial>
    </link>


    <link name="finger_slider_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.005" />
            </geometry>
            <material name="orange"/>
        </visual>
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="4.1666666667e-08" ixy="0" ixz="0" iyy="4.1666666667e-08" iyz="0" izz="4.1666666667e-08"/>
        </inertial>
    </link> 


<!-- joints -->
    <joint name="gripper_slider_joint" type="prismatic">
        <parent link="gripper_base_link"/>
        <child    link="finger_slider_link"/>
        <origin xyz="0 0 -0.155" rpy="0 -0 0 "/>
        <axis     xyz="0 0 1"/>
        <limit lower="0" upper="0.015" effort="1945.04" velocity="15.5966" />
        <dynamics damping="0.2" friction="0" />
    </joint>


    <joint name="gripper_joint_0" type="revolute">
        <parent link="gripper_base_link"/>
        <child    link="finger_0_link"/>
        <origin xyz="0 0.04525 -0.15319" rpy="0.3944 -0 0 "/>
        <axis     xyz="1 0 0"/>
        <limit lower="-0.57595" upper="0" effort="1945.04" velocity="15.5966" />
        <dynamics damping="0.2" friction="0" />
        <mimic joint="gripper_slider_joint" multiplier="-38.397243" offset="0"/>
    </joint>


    <joint name="gripper_joint_120" type="revolute">
        <parent link="gripper_base_link"/>
        <child    link="finger_120_link"/>
        <origin xyz="-0.03918764952124584 -0.022625 -0.15319" rpy="0.3944 -0 2.0943951023931953 "/>
        <axis     xyz="1 0 0"/>
        <limit lower="-0.57595" upper="0" effort="1945.04" velocity="15.5966" />
        <dynamics damping="0.2" friction="0" />
        <mimic joint="gripper_slider_joint" multiplier="-38.397243" offset="0"/>
    </joint>


    <joint name="gripper_joint_240" type="revolute">
        <parent link="gripper_base_link"/>
        <child    link="finger_240_link"/>
        <origin xyz="0.03918764952124584 -0.022625 -0.15319" rpy="0.3944 -0 -2.0943951023931953 "/>
        <axis     xyz="1 0 0"/>
        <limit lower="-0.57595" upper="0" effort="1945.04" velocity="15.5966" />
        <dynamics damping="0.2" friction="0" />
        <mimic joint="gripper_slider_joint" multiplier="-38.397243" offset="0"/>
    </joint>

</robot>