gdown
scikit-robot
paramiko
matplotlib
numba==0.56.4
numpy==1.23.5
openai==0.28.0
opencv-python
pillow==9.4.0
pybsc>=0.1.51
r8_5_interface>=0.0.3
rembg
ros-speak
shapely
torch
torchvision
trimesh
ultralytics
dill
