extendedos
gdown
matplotlib
moviepy
numba==0.56.4
numpy==1.23.5
openai
opencv-python
pillow==9.4.0
pybsc
rembg
ros-speak
shapely
torch
torchvision
git+https://github.com/iory/scikit-robot.git@dae#egg=scikit-robot
git+https://github.com/iory/r8_5_interface.git@master#egg=r8_5_interface
git+https://github.com/iory/trimesh.git@dae#egg=trimesh
