coloredlogs==15.0.1       # via pybsc
humanfriendly==10.0       # via coloredlogs
numpy==1.24.2             # via pybsc
nvidia-cublas-cu11==11.10.3.66  # via nvidia-cudnn-cu11, torch
nvidia-cuda-nvrtc-cu11==11.7.99  # via torch
nvidia-cuda-runtime-cu11==11.7.99  # via torch
nvidia-cudnn-cu11==8.5.0.96  # via torch
orjson==3.8.7             # via pybsc
pybsc==0.1.39             # via -r requirements.in
pyperclip==1.8.2          # via pybsc
pyyaml==6.0               # via pybsc
torch==1.13.1             # via -r requirements.in
tqdm==4.64.1              # via pybsc
typing-extensions==4.5.0  # via torch
wheel==0.38.4             # via nvidia-cublas-cu11, nvidia-cuda-runtime-cu11

# The following packages are considered to be unsafe in a requirements file:
# setuptools
