<launch>
  <arg name="model" default="$(find k_arm_descriptions)/urdf/K_ARM_DUALARM_primitive.urdf" />
  <arg name="gui" default="true" />

  <param name="robot_description" textfile="$(arg model)" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find k_arm_descriptions)/rviz/display_dualarm.rviz" />
</launch>
