<launch>

  <include file="$(find manip_teaching)/launch/launch_d405.launch" >
  </include>

  <include file="$(find manip_teaching)/launch/launch_t265.launch" >
  </include>

  <include file="$(find manip_teaching)/launch/controller.launch" >
  </include>

   <node name="adaptive_trigger"
        pkg="manip_teaching" type="adaptive_trigger.py"
        output="screen"
        clear_params="true"
        respawn="true" >
  </node>

</launch>
