<launch>

  <arg name="use_pad" default="false" />

  <include file="$(find manip_teaching)/launch/launch_d405.launch" >
  </include>

  <include file="$(find manip_teaching)/launch/launch_t265.launch" >
  </include>

  <node name="publish_battery"
        pkg="manip_teaching" type="publish_battery.py" >
  </node>

  <group unless="$(arg use_pad)" >
    <node name="vacuum_pressure"
          pkg="manip_teaching" type="vacuum_pressure.py" >
    </node>
  </group>

  <group if="$(arg use_pad)" >
    <node name="pseudo_vacuum_pressure"
          pkg="manip_teaching" type="pseudo_vacuum_by_button.py"
          output="screen" >
    </node>
  </group>

</launch>
