<launch>

  <arg name="use_pad" default="false" />

  <include file="$(find manip_teaching)/launch/launch_d405.launch" >
  </include>

  <include file="$(find manip_teaching)/launch/launch_t265.launch" >
  </include>

  <include file="$(find manip_teaching)/launch/controller.launch" >
  </include>

</launch>
